* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(10, 10, 10) !important;
  color: white;
}
span {
  color: #f51313;
}
.main {
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(pexels-pixabay-53610.jpg);
  background-position: center;
  background-size: cover;
  height: 109vh;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 800px;
  height: 75px;
  margin: auto;
}

.icon {
  width: 200px;
  float: left;
  height: 70px;
  margin-left: 75px;
}

.logo {
  color: slategrey;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
}

.manu {
  width: 400px;
  float: left;
  height: 70px;
}
.about {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.navbar ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}

.navbar ul li a {
  text-decoration: none;
  color: aliceblue;
  font-family: Arial;
  font-weight: bold;
  transition: 0.4s ease-in;
}

.navbar ul li a:hover {
  color: rgb(235, 18, 18);
}

.btn {
  width: 100px;
  height: 40px;
  background: rgb(236, 12, 12);
  border: 2px solid rgb(241, 20, 20);
  margin-top: 13px;
  color: aliceblue;
  font-size: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
.srch:focus {
  outline: none;
}

.content {
  width: 1200px;
  height: auto;
  margin: auto;
  color: white;
  position: relative;
}

.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.content h1 {
  font-family: "Times New Roman";
  font-size: 50px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
}

.content .cn {
  width: 160px;
  height: 40px;
  background: rgb(235, 17, 17);
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}

.content .cn a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
}

.cn:hover {
  background-color: white;
}

.content span {
  color: rgb(253, 15, 15);
  font-size: 50px;
}

.form {
  width: 300px;
  height: 380px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 50%,
    rgba(0, 0, 0, 0.8) 50%
  );
  position: absolute;
  top: -20px;
  left: 870px;
  border-radius: 10px;
  padding: 25px;
}

.form h2 {
  width: 220px;
  font-family: sans-serif;
  text-align: center;
  color: rgb(236, 21, 21);
  font-size: 22px;
  background-color: white;
  border-radius: 10px;
  margin: 2px;
  padding: 8px;
}

.form input {
  width: 240px;
  height: 35px;
  background: transparent;
  border-bottom: 1px solid rgb(243, 25, 25);
  border-top: none;
  border-right: none;
  border-left: none;
  color: rgb(241, 20, 20);
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 30px;
  font-family: sans-serif;
}

.form input:focus {
  outline: none;
}

::placeholder {
  color: white;
  font-family: Arial;
}

.btnn {
  width: 240px;
  height: 40px;
  background: rgb(236, 19, 19);
  border: none;
  margin-top: 30px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: 0.4s ease;
}
.btnn:hover {
  background: white;
  color: rgb(248, 14, 14);
}

.btnn a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.form .link {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-top: 20px;
  text-align: center;
}

.form .link a {
  text-decoration: none;
  color: rgb(248, 32, 25);
}

.liw {
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
}

.icons a {
  text-decoration: none;
  color: white;
}

.icons ion-icon {
  color: white;
  font-size: 30px;
  padding-left: 14px;
  padding-top: 35px;
  transition: 0.4s ease;
}

.icons ion-icon:hover {
  color: rgb(248, 24, 24);
}

body {
  background: rgb(240, 30, 30);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  background: white;
  display: flex;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: rgb(250, 20, 20);
  color: white;
}
h1 {
  margin-bottom: 10px;
}

.container p {
  margin-bottom: 40px;
}

.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom: 5px;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label {
  margin-bottom: 6px;
  display: block;
  color: rgb(235, 18, 18);
}

button {
  background: rgb(243, 27, 27);
  width: 100px;
  border: none;
  outline: none;
  color: white;
  height: 35px;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3 {
  color: rgb(241, 28, 28);
  font-size: 600;
  margin-bottom: 30px;
}

.contact-right h3 {
  font-size: 600;
  margin-bottom: 30px;
}

tr td:first-child {
  padding-right: 20px;
}

tr td:first-child {
  padding-right: 20px;
}
tr td:first-child {
  padding-top: 20px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container2 {
  width: 100%;
  height: 100vh;
  padding: 0 8%;
}
.container2 h1 {
  text-align: center;
  padding-top: 10%;
  margin-bottom: 60px;
  font-weight: 600;
  position: relative;
  font-size: 37px;
}
.container2 h1::after {
  content: "";
  background: rgb(231, 0, 0);
  width: 100px;
  height: 5px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.Services {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  background: transparent;
}
.Services i {
  font-size: 60px;
  margin-bottom: 10px;
  color: rgb(243, 14, 14);
}
.Services h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.Services:hover {
  background: rgb(22, 19, 19);
  color: #f51313;
  transform: scale(1.05s);
}
.Services:hover i {
  color: #fff;
}

/* gallery corousel  */
:root {
  --primary-color: #c8dc71;
  --gradient-color: linear-gradient(180deg, #d2ff00 0%, #00d2ff 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #16181b;
}

.container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 3rem;
}

/* Custom */

.carousel {
  max-width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.carousel .item {
  width: 20%;
  height: 250px;
  max-width: 250px;
  background-color: white;
  margin: 2px;
  transition: 0.5s;
  object-fit: cover;
  filter: brightness(1);
}

.carousel .item:hover {
  filter: brightness(1);
  transform: translateZ(170px);
}

.carousel .item:hover + * {
  filter: brightness(0.6);
  transform: translateZ(120px) rotateY(25deg);
}

.carousel .item:hover + * + * {
  filter: brightness(0.4);
  transform: translateZ(50px) rotateY(15deg);
}

.carousel .item:has(+ *:hover) {
  filter: brightness(0.6);
  transform: translateZ(120px) rotateY(-25deg);
}

.carousel .item:has(+ * + *:hover) {
  filter: brightness(0.4);
  transform: translateZ(50px) rotateY(-15deg);
}
.about_main {
  margin-top: 49px;
}
.vision {
  width: 899px;
  height: 200px;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 35px;
}
.vision h2 {
  font-size: 40px;
  text-align: center;
}
.vision p {
  font-size: 20px;
  text-align: center;
}
.quote {
  font-size: 45px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
.right {
  position: relative;
  left: 92%;
  text-align: right;
}
.about_heading {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}
.mission_object {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 66px;
}
.mission {
  width: 45%;
}

.mission h2 {
  font-size: 35px;
  color: #f51313;
  padding-bottom: 10px;
}
.objective {
  width: 45%;
}

.mission_object p,
.mission_object li {
  font-size: 18px;
}
